.inputContainer{
    width: 50vw;
    /* background-color: yellow; */
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.inputText{
    /* margin: 0.1rem; */
    box-shadow: inset #abacaf 0 0 0 2px;
    color: whitesmoke;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 5px;
    padding: 0.1rem 1rem;
    line-height: 1.4;
    /* color: rgb(0, 0, 0); */
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
}
.inputText:hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    
}
.inputText:focus{
    background: #fff;
    color: black;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}
.inputTitle{
    margin-bottom: 0.4rem;
    font-weight: 600;
}